<%= render 'header' %>

<main>
  <%= render 'banner' %>

  <div class="w-100 m-0 p-0">
    <div id="docs" class="bg-dark text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">
          <%= t('views.home.documentation.title') %>
        </h2>
        <p class="lead">
          <%= t('views.home.documentation.text') %>
        </p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light text-center overflow-hidden">
      <div id="support" class="my-3 p-3">
        <h2 class="display-5">
          <%= t('views.home.support.title') %>
        </h2>
        <p class="lead">
          <%= t('views.home.support.text') %>
        </p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 m-0 p-0">
    <div id="features" class="bg-light text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">
          <%= t('views.home.features.title') %>
        </h2>
        <p class="lead">
          <%= t('views.home.features.text') %>
        </p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div id="pricing" class="bg-primary text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">
          <%= t('views.home.pricing.title') %>
        </h2>
        <p class="lead">
          <%= t('views.home.pricing.text') %>
        </p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
</main>

<%= render 'footer' %>